@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method = "GET" asp-page="SqEq">
    @Request.Query["name"]
    <div class = "form-group">
        <label>Введите имя: </label>
        <input class ="form-control" placeholder="имя" autocomplete="off" name="name"
        value="@Request.Query["name"]"/>
    </div>
    <button type = "submit" class="btn btn-primary">Отправить</button>
</form>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
